<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/font/Roboto/Regular/font.css">
    <link rel="stylesheet" type="text/css" href="../static/font/Roboto/Medium/font.css">
    <link rel="stylesheet" type="text/css" href="../static/css/popup.css">
    <title></title>
</head>
<body>
    <header><img src="../static/img/icon.png" alt=""><a class="headerTitle" href="https://kraevoy.prm.sudrf.ru/modules.php?name=sud">Приморские суды</a></header>
    <main>
        <label class="line line-content service">
            <input type="checkbox" class="pre" id="all" data-url="all"><span class="text">Все суды</span>
        </label>
        <label class="line line-content">
            <input type="checkbox" class="courtInput pre" data-url="kraevoy--prm.sudrf.ru"><span class="text">Приморский краевой суд</span>
        </label>
        <div class="line">
            <span class="listTitle line-content" data-openId="1">
                <span class="pre">➕</span><span>Гарнизонный военный суд</span>
            </span>
            <div class="list" id="1">
                <label class="line line-content">
                    <input type="checkbox" class="courtInput pre" data-url="vgvs.prm.sudrf.ru"><span class="text">Владивостокский гарнизонный военный суд</span>
                </label>
                <label class="line line-content">
                    <input type="checkbox" class="courtInput pre" data-url="sdgvs.prm.sudrf.ru"><span class="text">Спасск-Дальний гарнизонный военный суд</span>
                </label>
                <label class="line line-content">
                    <input type="checkbox" class="courtInput pre" data-url="sdgvs.prm.sudrf.ru"><span class="text">Уссурийский гарнизонный военный суд</span>
                </label>
                <label class="line line-content">
                    <input type="checkbox" class="courtInput pre" data-url="fgvs.prm.sudrf.ru"><span class="text">Фокинский гарнизонный военный суд</span>
                </label>
            </div>
        </div>
        <label class="line line-content">
            <input type="checkbox" class="courtInput pre" data-url="9kas.sudrf.ru"><span class="text">Девятый кассационный суд общей юрисдикции</span>
        </label>
        <label class="line line-content">
            <input type="checkbox" class="courtInput pre" data-url="tihookeanskyfvs.prm.sudrf.ru"><span class="text">Тихоокеанский флотский военный суд</span>
        </label>
        <div class="line">
            <span class="listTitle line-content" data-openId="2">
                <span class="pre">➕</span><span>Районный суд, городской суд</span>
            </span>
            <div class="list" id="2">
            <label class="line line-content">
                <input type="checkbox" class="courtInput pre" data-url="anuchinsky.prm.sudrf.ru"><span class="text">Анучинский районный суд</span>
            </label>
            <label class="line line-content">
                <input type="checkbox" class="courtInput pre" data-url="anuchinsky.prm.sudrf.ru"><span class="text">Арсеньевский городской суд</span>
            </label>
            <label class="line line-content">
                <input type="checkbox" class="courtInput pre" data-url="artemovsky.prm.sudrf.ru"><span class="text">Артемовский городской суд</span>
            </label>
            <label class="line line-content">
                <input type="checkbox" class="courtInput pre" data-url="dalnegorsky.prm.sudrf.ru"><span class="text">Дальнегорский районный суд</span>
            </label>
            <label class="line line-content">
                <input type="checkbox" class="courtInput pre" data-url="dalnerechensky.prm.sudrf.ru"><span class="text">Дальнереченский районный суд</span>
            </label>
            <label class="line line-content">
                <input type="checkbox" class="courtInput pre" data-url="kavalerovsky.prm.sudrf.ru"><span class="text">Кавалеровский районный суд</span>
            </label>
            <label class="line line-content">
                <input type="checkbox" class="courtInput pre" data-url="kirovsky.prm.sudrf.ruu"><span class="text">Кировский районный суд</span>
            </label>
            <label class="line line-content">
                <input type="checkbox" class="courtInput pre" data-url="krasnoarmeysky.prm.sudrf.ru"><span class="text">Красноармейский районный суд</span>
            </label>
            <label class="line line-content">
                <input type="checkbox" class="courtInput pre" data-url="lazovskiy.prm.sudrf.ru"><span class="text">Лазовский районный суд</span>
            </label>
            <label class="line line-content">
                <input type="checkbox" class="courtInput pre" data-url="leninsky.prm.sudrf.ru"><span class="text">Ленинский районный суд г. Владивостока</span>
            </label>
            <label class="line line-content">
                <input type="checkbox" class="courtInput pre" data-url="lesozavodsky.prm.sudrf.ru"><span class="text">Лесозаводский районный суд</span>
            </label>
            <label class="line line-content">
                <input type="checkbox" class="courtInput pre" data-url="mihaylovsky.prm.sudrf.ru"><span class="text">Михайловский районный суд</span>
            </label>
            <label class="line line-content">
                <input type="checkbox" class="courtInput pre" data-url="nadezhdinsky.prm.sudrf.ru"><span class="text">Надеждинский районный суд</span>
            </label>
            <label class="line line-content">
                <input type="checkbox" class="courtInput pre" data-url="nahodkinsky.prm.sudrf.ru"><span class="text">Находкинский городской суд</span>
            </label>
            <label class="line line-content">
                <input type="checkbox" class="courtInput pre" data-url="oktiabrsky.prm.sudrf.ru"><span class="text">Октябрьский районный суд</span>
            </label>
            <label class="line line-content">
                <input type="checkbox" class="courtInput pre" data-url="olginsky.prm.sudrf.ru"><span class="text">Ольгинский районный суд</span>
            </label>
            <label class="line line-content">
                <input type="checkbox" class="courtInput pre" data-url="partizansky.prm.sudrf.ru"><span class="text">Партизанский городской суд</span>
            </label>
            <label class="line line-content">
                <input type="checkbox" class="courtInput pre" data-url="partyzansky.prm.sudrf.ru"><span class="text">Партизанский районный суд</span>
            </label>
            <label class="line line-content">
                <input type="checkbox" class="courtInput pre" data-url="pervomaysky.prm.sudrf.ru"><span class="text">Первомайский районный суд г. Владивостока</span>
            </label>
            <label class="line line-content">
                <input type="checkbox" class="courtInput pre" data-url="pervorechensky.prm.sudrf.ru"><span class="text">Первореченский районный суд г. Владивостока</span>
            </label>
            <label class="line line-content">
                <input type="checkbox" class="courtInput pre" data-url="pogranichny.prm.sudrf.ru"><span class="text">Пограничный районный суд</span>
            </label>
            <label class="line line-content">
                <input type="checkbox" class="courtInput pre" data-url="pozharsky.prm.sudrf.ru"><span class="text">Пожарский районный суд</span>
            </label>
            <label class="line line-content">
                <input type="checkbox" class="courtInput pre" data-url="sovetsky.prm.sudrf.ru"><span class="text">Советский районный суд г. Владивостока</span>
            </label>
            <label class="line line-content">
                <input type="checkbox" class="courtInput pre" data-url="spassky.prm.sudrf.ru"><span class="text">Спасский районный суд</span>
            </label>
            <label class="line line-content">
                <input type="checkbox" class="courtInput pre" data-url="terneysky.prm.sudrf.ru"><span class="text">Тернейский районный суд</span>
            </label>
            <label class="line line-content">
                <input type="checkbox" class="courtInput pre" data-url="ussuriysky.prm.sudrf.ru"><span class="text">Уссурийский районный суд</span>
            </label>
            <label class="line line-content">
                <input type="checkbox" class="courtInput pre" data-url="fokinsky.prm.sudrf.ru"><span class="text">Фокинский городской суд</span>
            </label>
            <label class="line line-content">
                <input type="checkbox" class="courtInput pre" data-url="frunzensky.prm.sudrf.ru"><span class="text">Фрунзенский районный суд г. Владивостока</span>
            </label>
            <label class="line line-content">
                <input type="checkbox" class="courtInput pre" data-url="hankaisky.prm.sudrf.ru"><span class="text">Ханкайский районный суд</span>
            </label>
            <label class="line line-content">
                <input type="checkbox" class="courtInput pre" data-url="hasansky.prm.sudrf.ru"><span class="text">Хасанский районный суд</span>
            </label>
            <label class="line line-content">
                <input type="checkbox" class="courtInput pre" data-url="horolsky.prm.sudrf.ru"><span class="text">Хорольский районный суд</span>
            </label>
            <label class="line line-content">
                <input type="checkbox" class="courtInput pre" data-url="chernigovsky.prm.sudrf.ru"><span class="text">Черниговский районный суд</span>
            </label>
            <label class="line line-content">
                <input type="checkbox" class="courtInput pre" data-url="chuguevsky.prm.sudrf.ru"><span class="text">Чугуевский районный суд</span>
            </label>
            <label class="line line-content">
                <input type="checkbox" class="courtInput pre" data-url="shkotovsky.prm.sudrf.ru"><span class="text">Шкотовский районный суд</span>
            </label>
            <label class="line line-content">
                <input type="checkbox" class="courtInput pre" data-url="yakovlevsky.prm.sudrf.ru"><span class="text">Яковлевский районный суд</span>
            </label>
        </div>
        </div>
        <button id="main">Открыть</button>
    </main>
    <script src="../static/js/popup.js"></script>
</body>
</html>