@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  src: url('Roboto-Regular.eot');
  src: url('Roboto-Regular.woff') format('woff'),
  url('Roboto-Regular.ttf') format('truetype'),
  url('Roboto-Regular.svg') format('svg');
}